body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f2f5; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6e8efb, #a777e3);

}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
